* {
   outline: 0;
}

body {
    background-color: #212121;
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
a, h1, h2, h3, h4 {
    color: #2E97BF;
}

a .fa.fa-twitch {
    color: #6441a4;
}

a, .fa {
    transition: all 0.3s ease;
}

a .fa {
    color: #c9c9c9;
}

a:hover .fa {
    opacity: 0.5;
}

a:hover {
    text-decoration: none;
}

.nav-tabs {
    border-bottom: 1px solid grey;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: grey;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: white;
    background-color: #212121;
    border-color: grey;
}